<style type="text/css">
    <!--
      body {
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-abbrev-table-name {
        /* abbrev-table-name */
        color: #c678dd;
      }
      .org-ac-candidate {
        /* ac-candidate-face */
        color: #bbc2cf;
        background-color: #21242b;
      }
      .org-ac-candidate-mouse {
        /* ac-candidate-mouse-face */
        color: #ffffff;
        background-color: #0000ff;
      }
      .org-ac-completion {
        /* ac-completion-face */
        color: #a9a9a9;
        text-decoration: underline;
      }
      .org-ac-selection {
        /* ac-selection-face */
        color: #ffffff;
        background-color: #4682b4;
      }
      .org-ahs {
        /* ahs-face */
        color: #f8f8ff;
        background-color: #8b8b7a;
      }
      .org-ahs-definition {
        /* ahs-definition-face */
        color: #ffe4b5;
        background-color: #5f9ea0;
      }
      .org-ahs-definition-face-unfocused {
        /* ahs-definition-face-unfocused */
        color: #ffe4b5;
        background-color: #5f9ea0;
      }
      .org-ahs-edit-mode {
        /* ahs-edit-mode-face */
        color: #ffffff;
        background-color: #cd5b45;
      }
      .org-ahs-face-unfocused {
        /* ahs-face-unfocused */
        color: #f8f8ff;
        background-color: #8b8b7a;
      }
      .org-ahs-plugin-bod {
        /* ahs-plugin-bod-face */
        color: #000000;
        background-color: #1e90ff;
      }
      .org-ahs-plugin-default {
        /* ahs-plugin-default-face */
        color: #000000;
        background-color: #ffa500;
      }
      .org-ahs-plugin-default-face-unfocused {
        /* ahs-plugin-default-face-unfocused */
        color: #000000;
        background-color: #ffa500;
      }
      .org-ahs-plugin-whole-buffer {
        /* ahs-plugin-whole-buffer-face */
        color: #000000;
        background-color: #adff2f;
      }
      .org-ahs-warning {
        /* ahs-warning-face */
        color: #ff0000;
        font-weight: bold;
      }
      .org-alert-low {
        /* alert-low-face */
        color: #3f444a;
      }
      .org-alert-normal {
      }
      .org-alert-saved-fringe {
        /* alert-saved-fringe-face */
        color: #3f444a;
        background-color: #282c34;
      }
      .org-alert-saved-mode-line {
        /* alert-saved-mode-line-face */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-alert-trivial {
        /* alert-trivial-face */
        color: #83898d;
      }
      .org-ansi-color-black {
        /* ansi-color-black */
        color: #282c34;
        background-color: #282c34;
      }
      .org-ansi-color-blue {
        /* ansi-color-blue */
        color: #51afef;
        background-color: #51afef;
      }
      .org-ansi-color-bold {
        /* ansi-color-bold */
        font-weight: bold;
      }
      .org-ansi-color-bright-black {
        /* ansi-color-bright-black */
        color: #1B2229;
        background-color: #202328;
      }
      .org-ansi-color-bright-blue {
        /* ansi-color-bright-blue */
        color: #6bbbf1;
        background-color: #6bbbf1;
      }
      .org-ansi-color-bright-cyan {
        /* ansi-color-bright-cyan */
        color: #61deff;
        background-color: #61deff;
      }
      .org-ansi-color-bright-green {
        /* ansi-color-bright-green */
        color: #a7c77c;
        background-color: #a7c77c;
      }
      .org-ansi-color-bright-magenta {
        /* ansi-color-bright-magenta */
        color: #ce8ce2;
        background-color: #ce8ce2;
      }
      .org-ansi-color-bright-red {
        /* ansi-color-bright-red */
        color: #ff8281;
        background-color: #ff8281;
      }
      .org-ansi-color-bright-white {
        /* ansi-color-bright-white */
        color: #DFDFDF;
        background-color: #DFDFDF;
      }
      .org-ansi-color-bright-yellow {
        /* ansi-color-bright-yellow */
        color: #eec78e;
        background-color: #eec78e;
      }
      .org-ansi-color-cyan {
        /* ansi-color-cyan */
        color: #46D9FF;
        background-color: #46D9FF;
      }
      .org-ansi-color-faint {
      }
      .org-ansi-color-fast-blink {
      }
      .org-ansi-color-green {
        /* ansi-color-green */
        color: #98be65;
        background-color: #98be65;
      }
      .org-ansi-color-inverse {
      }
      .org-ansi-color-italic {
        /* ansi-color-italic */
        font-style: italic;
      }
      .org-ansi-color-magenta {
        /* ansi-color-magenta */
        color: #c678dd;
        background-color: #c678dd;
      }
      .org-ansi-color-red {
        /* ansi-color-red */
        color: #ff6c6b;
        background-color: #ff6c6b;
      }
      .org-ansi-color-slow-blink {
      }
      .org-ansi-color-underline {
        /* ansi-color-underline */
        text-decoration: underline;
      }
      .org-ansi-color-white {
        /* ansi-color-white */
        color: #bbc2cf;
        background-color: #bbc2cf;
      }
      .org-ansi-color-yellow {
        /* ansi-color-yellow */
        color: #ECBE7B;
        background-color: #ECBE7B;
      }
      .org-avy-background {
        /* avy-background-face */
        color: #5B6268;
      }
      .org-avy-goto-char-timer {
        /* avy-goto-char-timer-face */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-avy-lead {
        /* avy-lead-face */
        color: #282c34;
        background-color: #51afef;
        font-weight: bold;
      }
      .org-avy-lead-face-0 {
        /* avy-lead-face-0 */
        color: #282c34;
        background-color: #85c7f3;
        font-weight: bold;
      }
      .org-avy-lead-face-1 {
        /* avy-lead-face-1 */
        color: #282c34;
        background-color: #b9dff8;
        font-weight: bold;
      }
      .org-avy-lead-face-2 {
        /* avy-lead-face-2 */
        color: #282c34;
        background-color: #edf7fd;
        font-weight: bold;
      }
      .org-bold {
        /* bold */
        font-weight: bold;
      }
      .org-bookmark {
        /* bookmark-face */
        background-color: #2c3946;
      }
      .org-bookmark-menu-bookmark {
        /* bookmark-menu-bookmark */
        font-weight: bold;
      }
      .org-border {
      }
      .org-bracket {
      }
      .org-browse-url-button {
        /* browse-url-button */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-buffer-menu-buffer {
        /* buffer-menu-buffer */
        font-weight: bold;
      }
      .org-builtin {
        /* font-lock-builtin-face */
        color: #c678dd;
      }
      .org-button {
        /* button */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-calendar-month-header {
        /* calendar-month-header */
        color: #c678dd;
      }
      .org-calendar-today {
        /* calendar-today */
        text-decoration: underline;
      }
      .org-calendar-weekday-header {
        /* calendar-weekday-header */
        color: #a9a1e1;
      }
      .org-calendar-weekend-header {
        /* calendar-weekend-header */
        color: #5B6268;
      }
      .org-child-frame-border {
      }
      .org-comint-highlight-input {
        /* comint-highlight-input */
        font-weight: bold;
      }
      .org-comint-highlight-prompt {
        /* comint-highlight-prompt */
        color: #51afef;
      }
      .org-comment {
        /* font-lock-comment-face */
        color: #5B6268;
      }
      .org-comment-delimiter {
        /* font-lock-comment-delimiter-face */
        color: #5B6268;
      }
      .org-company-echo {
      }
      .org-company-echo-common {
        /* company-echo-common */
        color: #ff3030;
      }
      .org-company-preview {
        /* company-preview */
        color: #5B6268;
      }
      .org-company-preview-common {
        /* company-preview-common */
        color: #51afef;
        background-color: #23272e;
      }
      .org-company-preview-search {
        /* company-preview-search */
        color: #282c34;
        background-color: #51afef;
        font-weight: bold;
      }
      .org-company-template-field {
        /* company-template-field */
        color: #98be65;
        background-color: #1B2229;
        font-weight: bold;
      }
      .org-company-tooltip {
        /* company-tooltip */
        color: #bbc2cf;
        background-color: #21242b;
      }
      .org-company-tooltip-annotation {
        /* company-tooltip-annotation */
        color: #a9a1e1;
      }
      .org-company-tooltip-annotation-selection {
        /* company-tooltip-annotation-selection */
        color: #a9a1e1;
      }
      .org-company-tooltip-common {
        /* company-tooltip-common */
        color: #51afef;
        font-weight: bold;
      }
      .org-company-tooltip-common-selection {
        /* company-tooltip-common-selection */
        color: #51afef;
        font-weight: bold;
      }
      .org-company-tooltip-deprecated {
        /* company-tooltip-deprecated */
        text-decoration: line-through;
      }
      .org-company-tooltip-mouse {
        /* company-tooltip-mouse */
        color: #282c34;
        background-color: #c678dd;
      }
      .org-company-tooltip-quick-access {
        /* company-tooltip-quick-access */
        color: #a9a1e1;
      }
      .org-company-tooltip-quick-access-selection {
        /* company-tooltip-quick-access-selection */
        color: #a9a1e1;
      }
      .org-company-tooltip-scrollbar-thumb {
        /* company-tooltip-scrollbar-thumb */
        background-color: #545454;
      }
      .org-company-tooltip-scrollbar-track {
        /* company-tooltip-scrollbar-track */
        background-color: #474747;
      }
      .org-company-tooltip-search {
        /* company-tooltip-search */
        color: #282c34;
        background-color: #51afef;
        font-weight: bold;
      }
      .org-company-tooltip-search-selection {
        /* company-tooltip-search-selection */
        background-color: #194178;
      }
      .org-company-tooltip-selection {
        /* company-tooltip-selection */
        background-color: #2257A0;
        font-weight: bold;
      }
      .org-compilation-column-number {
        /* compilation-column-number */
        color: #5B6268;
      }
      .org-compilation-error {
        /* compilation-error */
        color: #ff6c6b;
        font-weight: bold;
      }
      .org-compilation-info {
        /* compilation-info */
        color: #98be65;
      }
      .org-compilation-line-number {
        /* compilation-line-number */
        color: #51afef;
      }
      .org-compilation-mode-line-exit {
        /* compilation-mode-line-exit */
        color: #98be65;
      }
      .org-compilation-mode-line-fail {
        /* compilation-mode-line-fail */
        color: #ff6c6b;
        font-weight: bold;
      }
      .org-compilation-mode-line-run {
        /* compilation-mode-line-run */
        color: #ECBE7B;
        font-style: italic;
      }
      .org-compilation-warning {
        /* compilation-warning */
        color: #ECBE7B;
        font-style: italic;
      }
      .org-completions-common-part {
        /* completions-common-part */
        color: #add8e6;
      }
      .org-completions-first-difference {
        /* completions-first-difference */
        font-weight: bold;
      }
      .org-completions-group-separator {
        /* completions-group-separator */
        color: #5B6268;
        text-decoration: line-through;
      }
      .org-completions-group-title {
        /* completions-group-title */
        color: #5B6268;
        font-style: italic;
      }
      .org-completions-highlight {
        /* completions-highlight */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-confusingly-reordered {
        /* confusingly-reordered */
        text-decoration: underline;
      }
      .org-constant {
        /* font-lock-constant-face */
        color: #a9a1e1;
      }
      .org-counsel--mark-ring-highlight {
        /* counsel-mark-ring-highlight */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-counsel-active-mode {
        /* counsel-active-mode */
        color: #c678dd;
      }
      .org-counsel-application-name {
        /* counsel-application-name */
        color: #c678dd;
      }
      .org-counsel-evil-register {
        /* counsel-evil-register-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-counsel-key-binding {
        /* counsel-key-binding */
        color: #51afef;
      }
      .org-counsel-outline-1 {
        /* counsel-outline-1 */
        color: #51afef;
        font-weight: bold;
      }
      .org-counsel-outline-2 {
        /* counsel-outline-2 */
        color: #c678dd;
        font-weight: bold;
      }
      .org-counsel-outline-3 {
        /* counsel-outline-3 */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-counsel-outline-4 {
        /* counsel-outline-4 */
        color: #7cc3f3;
        font-weight: bold;
      }
      .org-counsel-outline-5 {
        /* counsel-outline-5 */
        color: #d499e5;
        font-weight: bold;
      }
      .org-counsel-outline-6 {
        /* counsel-outline-6 */
        color: #a8d7f7;
        font-weight: bold;
      }
      .org-counsel-outline-7 {
        /* counsel-outline-7 */
        color: #e2bbee;
        font-weight: bold;
      }
      .org-counsel-outline-8 {
        /* counsel-outline-8 */
        color: #dceffb;
        font-weight: bold;
      }
      .org-counsel-outline-default {
        /* counsel-outline-default */
        color: #51afef;
      }
      .org-counsel-variable-documentation {
        /* counsel-variable-documentation */
        color: #5B6268;
      }
      .org-css-property {
        /* css-property */
        color: #98be65;
      }
      .org-css-proprietary-property {
        /* css-proprietary-property */
        color: #da8548;
      }
      .org-css-selector {
        /* css-selector */
        color: #51afef;
      }
      .org-cursor {
        /* cursor */
        background-color: #51afef;
      }
      .org-delimiter {
      }
      .org-diary {
        /* diary */
        color: #ffff00;
      }
      .org-diff-added {
        /* diff-added */
        color: #98be65;
        background-color: #21242b;
      }
      .org-diff-changed {
        /* diff-changed */
        color: #a9a1e1;
      }
      .org-diff-changed-unspecified {
        /* diff-changed-unspecified */
        color: #a9a1e1;
        background-color: #333333;
      }
      .org-diff-context {
        /* diff-context */
        color: #a4aab6;
      }
      .org-diff-error {
        /* diff-error */
        color: #ff0000;
        background-color: #000000;
        font-weight: bold;
      }
      .org-diff-file-header {
        /* diff-file-header */
        color: #51afef;
      }
      .org-diff-function {
        /* diff-function */
        color: #46D9FF;
      }
      .org-diff-header {
        /* diff-header */
        color: #46D9FF;
      }
      .org-diff-hunk-header {
        /* diff-hunk-header */
        color: #a9a1e1;
      }
      .org-diff-index {
        /* diff-index */
        color: #51afef;
      }
      .org-diff-indicator-added {
        /* diff-indicator-added */
        color: #22aa22;
        background-color: #21242b;
      }
      .org-diff-indicator-changed {
        /* diff-indicator-changed */
        color: #aaaa22;
      }
      .org-diff-indicator-removed {
        /* diff-indicator-removed */
        color: #aa2222;
        background-color: #23272e;
      }
      .org-diff-nonexistent {
        /* diff-nonexistent */
        color: #51afef;
      }
      .org-diff-refine-added {
        /* diff-refine-added */
        color: #98be65;
        background-color: #21242b;
      }
      .org-diff-refine-changed {
        /* diff-refine-changed */
        color: #a9a1e1;
      }
      .org-diff-refine-removed {
        /* diff-refine-removed */
        color: #ff6c6b;
        background-color: #23272e;
      }
      .org-diff-removed {
        /* diff-removed */
        color: #ff6c6b;
        background-color: #23272e;
      }
      .org-dired-broken-symlink {
        /* dired-broken-symlink */
        color: #ffff00;
        background-color: #ff0000;
        font-weight: bold;
      }
      .org-dired-directory {
        /* dired-directory */
        color: #c678dd;
      }
      .org-dired-flagged {
        /* dired-flagged */
        color: #ff6c6b;
      }
      .org-dired-header {
        /* dired-header */
        color: #51afef;
        font-weight: bold;
      }
      .org-dired-ignored {
        /* dired-ignored */
        color: #5B6268;
      }
      .org-dired-mark {
        /* dired-mark */
        color: #da8548;
        font-weight: bold;
      }
      .org-dired-marked {
        /* dired-marked */
        color: #c678dd;
        font-weight: bold;
      }
      .org-dired-perm-write {
        /* dired-perm-write */
        color: #bbc2cf;
        text-decoration: underline;
      }
      .org-dired-set-id {
        /* dired-set-id */
        color: #ECBE7B;
      }
      .org-dired-special {
        /* dired-special */
        color: #dcaeea;
      }
      .org-dired-symlink {
        /* dired-symlink */
        color: #46D9FF;
        font-weight: bold;
      }
      .org-dired-warning {
        /* dired-warning */
        color: #ECBE7B;
      }
      .org-doc {
        /* font-lock-doc-face */
        color: #83898d;
      }
      .org-doc-markup {
        /* font-lock-doc-markup-face */
        color: #a9a1e1;
      }
      .org-doom-themes-org-at-tag {
        /* doom-themes-org-at-tag */
        color: #46D9FF;
      }
      .org-doom-themes-org-hash-tag {
        /* doom-themes-org-hash-tag */
        color: #83898d;
      }
      .org-edebug-disabled-breakpoint {
        /* edebug-disabled-breakpoint */
        background-color: #335533;
      }
      .org-edebug-enabled-breakpoint {
        /* edebug-enabled-breakpoint */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-edmacro-label {
        /* edmacro-label */
        color: #add8e6;
        font-weight: bold;
      }
      .org-eldoc-highlight-function-argument {
        /* eldoc-highlight-function-argument */
        font-weight: bold;
      }
      .org-elisp-shorthand-font-lock {
        /* elisp-shorthand-font-lock-face */
        color: #00ffff;
      }
      .org-epa-field-body {
        /* epa-field-body */
        color: #40e0d0;
        font-style: italic;
      }
      .org-epa-field-name {
        /* epa-field-name */
        color: #afeeee;
        font-weight: bold;
      }
      .org-epa-mark {
        /* epa-mark */
        color: #ffa500;
        font-weight: bold;
      }
      .org-epa-string {
        /* epa-string */
        color: #ffffe0;
      }
      .org-epa-validity-disabled {
        /* epa-validity-disabled */
        font-style: italic;
      }
      .org-epa-validity-high {
        /* epa-validity-high */
        color: #afeeee;
        font-weight: bold;
      }
      .org-epa-validity-low {
        /* epa-validity-low */
        font-style: italic;
      }
      .org-epa-validity-medium {
        /* epa-validity-medium */
        color: #afeeee;
        font-style: italic;
      }
      .org-error {
        /* error */
        color: #ff6c6b;
      }
      .org-escape {
        /* font-lock-escape-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-escape-glyph {
        /* escape-glyph */
        color: #46D9FF;
      }
      .org-evil-ex-commands {
        /* evil-ex-commands */
        font-style: italic;
        text-decoration: underline;
      }
      .org-evil-ex-info {
        /* evil-ex-info */
        color: #ff6c6b;
        font-style: italic;
      }
      .org-evil-ex-lazy-highlight {
        /* evil-ex-lazy-highlight */
        color: #DFDFDF;
        background-color: #387aa7;
        font-weight: bold;
      }
      .org-evil-ex-search {
        /* evil-ex-search */
        color: #1B2229;
        background-color: #51afef;
        font-weight: bold;
      }
      .org-evil-ex-substitute-matches {
        /* evil-ex-substitute-matches */
        color: #ff6c6b;
        background-color: #1B2229;
        font-weight: bold;
        text-decoration: line-through;
      }
      .org-evil-ex-substitute-replacement {
        /* evil-ex-substitute-replacement */
        color: #98be65;
        background-color: #1B2229;
        font-weight: bold;
      }
      .org-evil-snipe-first-match {
        /* evil-snipe-first-match-face */
        color: #51afef;
        background-color: #2257A0;
        font-weight: bold;
      }
      .org-evil-snipe-matches {
        /* evil-snipe-matches-face */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-eww-form-checkbox {
        /* eww-form-checkbox */
        color: #bbc2cf;
        background-color: #21242b;
      }
      .org-eww-form-file {
        /* eww-form-file */
        color: #bbc2cf;
        background-color: #21242b;
      }
      .org-eww-form-select {
        /* eww-form-select */
        color: #bbc2cf;
        background-color: #21242b;
      }
      .org-eww-form-submit {
        /* eww-form-submit */
        color: #bbc2cf;
        background-color: #202328;
      }
      .org-eww-form-text {
        /* eww-form-text */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-eww-form-textarea {
        /* eww-form-textarea */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-eww-invalid-certificate {
        /* eww-invalid-certificate */
        color: #ff6c6b;
      }
      .org-eww-valid-certificate {
        /* eww-valid-certificate */
        color: #51afef;
      }
      .org-ffap {
        /* ffap */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-file-name-shadow {
        /* file-name-shadow */
        color: #5B6268;
      }
      .org-fill-column-indicator {
        /* fill-column-indicator */
        color: #5B6268;
      }
      .org-fixed-pitch {
      }
      .org-fixed-pitch-serif {
      }
      .org-flycheck-delimited-error {
      }
      .org-flycheck-error {
        /* flycheck-error */
        text-decoration: underline;
      }
      .org-flycheck-error-delimiter {
      }
      .org-flycheck-error-list-checker-name {
        /* flycheck-error-list-checker-name */
        color: #c678dd;
      }
      .org-flycheck-error-list-column-number {
      }
      .org-flycheck-error-list-error {
        /* flycheck-error-list-error */
        color: #ff6c6b;
      }
      .org-flycheck-error-list-error-message {
      }
      .org-flycheck-error-list-filename {
      }
      .org-flycheck-error-list-highlight {
        /* flycheck-error-list-highlight */
        font-weight: bold;
      }
      .org-flycheck-error-list-id {
        /* flycheck-error-list-id */
        color: #ECBE7B;
      }
      .org-flycheck-error-list-id-with-explainer {
        /* flycheck-error-list-id-with-explainer */
        color: #ECBE7B;
      }
      .org-flycheck-error-list-info {
        /* flycheck-error-list-info */
        color: #98be65;
      }
      .org-flycheck-error-list-line-number {
      }
      .org-flycheck-error-list-warning {
        /* flycheck-error-list-warning */
        color: #ECBE7B;
      }
      .org-flycheck-fringe-error {
        /* flycheck-fringe-error */
        color: #ff6c6b;
        background-color: #282c34;
      }
      .org-flycheck-fringe-info {
        /* flycheck-fringe-info */
        color: #98be65;
        background-color: #282c34;
      }
      .org-flycheck-fringe-warning {
        /* flycheck-fringe-warning */
        color: #ECBE7B;
        background-color: #282c34;
      }
      .org-flycheck-info {
        /* flycheck-info */
        text-decoration: underline;
      }
      .org-flycheck-verify-select-checker {
      }
      .org-flycheck-warning {
        /* flycheck-warning */
        text-decoration: underline;
      }
      .org-flyspell-duplicate {
        /* flyspell-duplicate */
        text-decoration: underline;
      }
      .org-flyspell-incorrect {
        /* flyspell-incorrect */
        text-decoration: underline;
      }
      .org-fringe {
        /* fringe */
        color: #3f444a;
        background-color: #282c34;
      }
      .org-function-call {
        /* font-lock-function-call-face */
        color: #c678dd;
      }
      .org-function-name {
        /* font-lock-function-name-face */
        color: #c678dd;
      }
      .org-glyphless-char {
        /* glyphless-char */
        font-size: 60%;
      }
      .org-gnus-button {
        /* gnus-button */
        font-weight: bold;
      }
      .org-gnus-emphasis-bold {
        /* gnus-emphasis-bold */
        font-weight: bold;
      }
      .org-gnus-emphasis-bold-italic {
        /* gnus-emphasis-bold-italic */
        font-weight: bold;
        font-style: italic;
      }
      .org-gnus-emphasis-highlight-words {
        /* gnus-emphasis-highlight-words */
        color: #ffff00;
        background-color: #000000;
      }
      .org-gnus-emphasis-italic {
        /* gnus-emphasis-italic */
        font-style: italic;
      }
      .org-gnus-emphasis-strikethru {
        /* gnus-emphasis-strikethru */
        text-decoration: line-through;
      }
      .org-gnus-emphasis-underline {
        /* gnus-emphasis-underline */
        text-decoration: underline;
      }
      .org-gnus-emphasis-underline-bold {
        /* gnus-emphasis-underline-bold */
        font-weight: bold;
        text-decoration: underline;
      }
      .org-gnus-emphasis-underline-bold-italic {
        /* gnus-emphasis-underline-bold-italic */
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;
      }
      .org-gnus-emphasis-underline-italic {
        /* gnus-emphasis-underline-italic */
        font-style: italic;
        text-decoration: underline;
      }
      .org-gnus-group-mail-1 {
        /* gnus-group-mail-1 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-mail-1-empty {
        /* gnus-group-mail-1-empty */
        color: #5B6268;
      }
      .org-gnus-group-mail-2 {
        /* gnus-group-mail-2 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-mail-2-empty {
        /* gnus-group-mail-2-empty */
        color: #5B6268;
      }
      .org-gnus-group-mail-3 {
        /* gnus-group-mail-3 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-mail-3-empty {
        /* gnus-group-mail-3-empty */
        color: #5B6268;
      }
      .org-gnus-group-mail-low {
        /* gnus-group-mail-low */
        color: #bbc2cf;
      }
      .org-gnus-group-mail-low-empty {
        /* gnus-group-mail-low-empty */
        color: #5B6268;
      }
      .org-gnus-group-news-1 {
        /* gnus-group-news-1 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-news-1-empty {
        /* gnus-group-news-1-empty */
        color: #5B6268;
      }
      .org-gnus-group-news-2 {
        /* gnus-group-news-2 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-news-2-empty {
        /* gnus-group-news-2-empty */
        color: #5B6268;
      }
      .org-gnus-group-news-3 {
        /* gnus-group-news-3 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-news-3-empty {
        /* gnus-group-news-3-empty */
        color: #5B6268;
      }
      .org-gnus-group-news-4 {
        /* gnus-group-news-4 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-news-4-empty {
        /* gnus-group-news-4-empty */
        color: #5B6268;
      }
      .org-gnus-group-news-5 {
        /* gnus-group-news-5 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-news-5-empty {
        /* gnus-group-news-5-empty */
        color: #5B6268;
      }
      .org-gnus-group-news-6 {
        /* gnus-group-news-6 */
        color: #bbc2cf;
        font-weight: bold;
      }
      .org-gnus-group-news-6-empty {
        /* gnus-group-news-6-empty */
        color: #5B6268;
      }
      .org-gnus-group-news-low {
        /* gnus-group-news-low */
        color: #5B6268;
        font-weight: bold;
      }
      .org-gnus-group-news-low-empty {
        /* gnus-group-news-low-empty */
        color: #5B6268;
      }
      .org-gnus-header {
        /* gnus-header */
        font-size: 110%;
      }
      .org-gnus-header-content {
        /* gnus-header-content */
        color: #a9a1e1;
      }
      .org-gnus-header-from {
        /* gnus-header-from */
        color: #a9a1e1;
      }
      .org-gnus-header-name {
        /* gnus-header-name */
        color: #98be65;
      }
      .org-gnus-header-newsgroups {
        /* gnus-header-newsgroups */
        color: #a9a1e1;
      }
      .org-gnus-header-subject {
        /* gnus-header-subject */
        color: #51afef;
        font-weight: bold;
      }
      .org-gnus-signature {
        /* gnus-signature */
        color: #ECBE7B;
      }
      .org-gnus-splash {
        /* gnus-splash */
        color: #cccccc;
      }
      .org-gnus-summary-cancelled {
        /* gnus-summary-cancelled */
        color: #ff6c6b;
        text-decoration: line-through;
      }
      .org-gnus-summary-high-ancient {
        /* gnus-summary-high-ancient */
        color: #7b8186;
        font-style: italic;
      }
      .org-gnus-summary-high-read {
        /* gnus-summary-high-read */
        color: #c8ced8;
      }
      .org-gnus-summary-high-ticked {
        /* gnus-summary-high-ticked */
        color: #d193e3;
      }
      .org-gnus-summary-high-undownloaded {
        /* gnus-summary-high-undownloaded */
        color: #d3d3d3;
        font-weight: bold;
      }
      .org-gnus-summary-high-unread {
        /* gnus-summary-high-unread */
        color: #accb83;
      }
      .org-gnus-summary-low-ancient {
        /* gnus-summary-low-ancient */
        color: #484e53;
        font-style: italic;
      }
      .org-gnus-summary-low-read {
        /* gnus-summary-low-read */
        color: #959ba5;
      }
      .org-gnus-summary-low-ticked {
        /* gnus-summary-low-ticked */
        color: #9e60b0;
      }
      .org-gnus-summary-low-undownloaded {
        /* gnus-summary-low-undownloaded */
        color: #d3d3d3;
        font-style: italic;
      }
      .org-gnus-summary-low-unread {
        /* gnus-summary-low-unread */
        color: #799850;
      }
      .org-gnus-summary-normal-ancient {
        /* gnus-summary-normal-ancient */
        color: #5B6268;
        font-style: italic;
      }
      .org-gnus-summary-normal-read {
        /* gnus-summary-normal-read */
        color: #bbc2cf;
      }
      .org-gnus-summary-normal-ticked {
        /* gnus-summary-normal-ticked */
        color: #c678dd;
      }
      .org-gnus-summary-normal-undownloaded {
        /* gnus-summary-normal-undownloaded */
        color: #d3d3d3;
      }
      .org-gnus-summary-normal-unread {
        /* gnus-summary-normal-unread */
        color: #98be65;
        font-weight: bold;
      }
      .org-gnus-summary-selected {
        /* gnus-summary-selected */
        color: #51afef;
        font-weight: bold;
      }
      .org-header-line {
        /* header-line */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-header-line-highlight {
        /* header-line-highlight */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-help-argument-name {
        /* help-argument-name */
        font-style: italic;
      }
      .org-help-for-help-header {
        /* help-for-help-header */
        font-size: 126%;
      }
      .org-help-key-binding {
        /* help-key-binding */
        color: #add8e6;
        background-color: #303030;
      }
      .org-highlight {
        /* highlight */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-hl-line {
        /* hl-line */
        background-color: #21242b;
      }
      .org-holiday {
        /* holiday */
        background-color: #8b4513;
      }
      .org-homoglyph {
        /* homoglyph */
        color: #00ffff;
      }
      .org-hydra-face-amaranth {
        /* hydra-face-amaranth */
        color: #c678dd;
        font-weight: bold;
      }
      .org-hydra-face-blue {
        /* hydra-face-blue */
        color: #51afef;
        font-weight: bold;
      }
      .org-hydra-face-pink {
        /* hydra-face-pink */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-hydra-face-red {
        /* hydra-face-red */
        color: #ff6c6b;
        font-weight: bold;
      }
      .org-hydra-face-teal {
        /* hydra-face-teal */
        color: #4db5bd;
        font-weight: bold;
      }
      .org-icon {
      }
      .org-icon-button {
        /* icon-button */
        color: #000000;
        background-color: #808080;
      }
      .org-ido-first-match {
        /* ido-first-match */
        color: #da8548;
      }
      .org-ido-incomplete-regexp {
        /* ido-incomplete-regexp */
        color: #ECBE7B;
      }
      .org-ido-indicator {
        /* ido-indicator */
        color: #ff6c6b;
        background-color: #282c34;
      }
      .org-ido-only-match {
        /* ido-only-match */
        color: #98be65;
      }
      .org-ido-subdir {
        /* ido-subdir */
        color: #a9a1e1;
      }
      .org-ido-virtual {
        /* ido-virtual */
        color: #5B6268;
      }
      .org-info-header-node {
        /* info-header-node */
        color: #ffffff;
        font-weight: bold;
        font-style: italic;
      }
      .org-info-header-xref {
        /* info-header-xref */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-info-index-match {
        /* info-index-match */
        color: #98be65;
        background-color: #1B2229;
        font-weight: bold;
      }
      .org-info-menu-header {
        /* info-menu-header */
        font-weight: bold;
      }
      .org-info-menu-star {
        /* info-menu-star */
        color: #ff0000;
      }
      .org-info-node {
        /* info-node */
        color: #ffffff;
        font-weight: bold;
        font-style: italic;
      }
      .org-info-quoted {
      }
      .org-info-title-1 {
        /* info-title-1 */
        font-size: 172%;
        font-weight: bold;
      }
      .org-info-title-2 {
        /* info-title-2 */
        font-size: 144%;
        font-weight: bold;
      }
      .org-info-title-3 {
        /* info-title-3 */
        font-size: 120%;
        font-weight: bold;
      }
      .org-info-title-4 {
        /* info-title-4 */
        font-weight: bold;
      }
      .org-info-xref {
        /* info-xref */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-internal-border {
      }
      .org-isearch {
        /* isearch */
        color: #DFDFDF;
        background-color: #387aa7;
        font-weight: bold;
      }
      .org-isearch-fail {
        /* isearch-fail */
        color: #1B2229;
        background-color: #ff6c6b;
        font-weight: bold;
      }
      .org-isearch-group-1 {
        /* isearch-group-1 */
        color: #8b2323;
        background-color: #ff82ab;
      }
      .org-isearch-group-2 {
        /* isearch-group-2 */
        color: #8b2323;
        background-color: #cd6889;
      }
      .org-italic {
        /* italic */
        font-style: italic;
      }
      .org-ivy-action {
        /* ivy-action */
        color: #c678dd;
      }
      .org-ivy-completions-annotations {
        /* ivy-completions-annotations */
        color: #5B6268;
        font-style: italic;
      }
      .org-ivy-confirm {
        /* ivy-confirm-face */
        color: #98be65;
      }
      .org-ivy-current-match {
        /* ivy-current-match */
        background-color: #2257A0;
      }
      .org-ivy-cursor {
        /* ivy-cursor */
        color: #000000;
        background-color: #ffffff;
      }
      .org-ivy-grep-info {
        /* ivy-grep-info */
        color: #98be65;
      }
      .org-ivy-grep-line-number {
        /* ivy-grep-line-number */
        color: #51afef;
      }
      .org-ivy-highlight {
        /* ivy-highlight-face */
        color: #a9a1e1;
      }
      .org-ivy-match-required {
        /* ivy-match-required-face */
        color: #ff6c6b;
      }
      .org-ivy-minibuffer-match-face-1 {
        /* ivy-minibuffer-match-face-1 */
        color: #595e63;
      }
      .org-ivy-minibuffer-match-face-2 {
        /* ivy-minibuffer-match-face-2 */
        color: #c678dd;
        background-color: #1c1f24;
      }
      .org-ivy-minibuffer-match-face-3 {
        /* ivy-minibuffer-match-face-3 */
        color: #98be65;
        background-color: #1c1f24;
      }
      .org-ivy-minibuffer-match-face-4 {
        /* ivy-minibuffer-match-face-4 */
        color: #ECBE7B;
        background-color: #1c1f24;
      }
      .org-ivy-minibuffer-match-highlight {
        /* ivy-minibuffer-match-highlight */
        color: #a9a1e1;
      }
      .org-ivy-modified-buffer {
        /* ivy-modified-buffer */
        color: #ECBE7B;
        font-weight: bold;
      }
      .org-ivy-modified-outside-buffer {
        /* ivy-modified-outside-buffer */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ivy-org {
        /* ivy-org */
        color: #7cc3f3;
        font-weight: bold;
      }
      .org-ivy-posframe {
        /* ivy-posframe */
        background-color: #1a1c22;
      }
      .org-ivy-posframe-border {
      }
      .org-ivy-posframe-cursor {
        /* ivy-posframe-cursor */
        background-color: #51afef;
      }
      .org-ivy-prompt-match {
        /* ivy-prompt-match */
        background-color: #2257A0;
      }
      .org-ivy-remote {
        /* ivy-remote */
        color: #7B6BFF;
      }
      .org-ivy-separator {
        /* ivy-separator */
        color: #83898d;
      }
      .org-ivy-subdir {
        /* ivy-subdir */
        color: #c678dd;
      }
      .org-ivy-virtual {
        /* ivy-virtual */
        color: #83898d;
        font-style: italic;
      }
      .org-ivy-yanked-word {
        /* ivy-yanked-word */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-keyword {
        /* font-lock-keyword-face */
        color: #51afef;
      }
      .org-lazy-highlight {
        /* lazy-highlight */
        color: #DFDFDF;
        background-color: #387aa7;
        font-weight: bold;
      }
      .org-ledger-font-account-directive {
        /* ledger-font-account-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-account-name {
        /* ledger-font-account-name-face */
        color: #dcaeea;
      }
      .org-ledger-font-alias-definition {
        /* ledger-font-alias-definition-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-alias-directive {
        /* ledger-font-alias-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-apply-account {
        /* ledger-font-apply-account-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-apply-directive {
        /* ledger-font-apply-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-apply-tag {
        /* ledger-font-apply-tag-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-assert-condition {
        /* ledger-font-assert-condition-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-assert-directive {
        /* ledger-font-assert-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-auto-xact {
        /* ledger-font-auto-xact-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-bucket-account {
        /* ledger-font-bucket-account-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-bucket-directive {
        /* ledger-font-bucket-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-c-amount {
        /* ledger-font-C-amount-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-c-directive {
        /* ledger-font-C-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-capture-account {
        /* ledger-font-capture-account-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-capture-directive {
        /* ledger-font-capture-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-capture-regex {
        /* ledger-font-capture-regex-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-check-condition {
        /* ledger-font-check-condition-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-check-directive {
        /* ledger-font-check-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-code {
        /* ledger-font-code-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-comment {
        /* ledger-font-comment-face */
        color: #5B6268;
      }
      .org-ledger-font-commodity-directive {
        /* ledger-font-commodity-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-commodity-format {
        /* ledger-font-commodity-format-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-commodity-name {
        /* ledger-font-commodity-name-face */
        color: #a9a1e1;
      }
      .org-ledger-font-condition {
        /* ledger-font-condition-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-d-directive {
        /* ledger-font-D-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-default-directive {
        /* ledger-font-default-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-define-body {
        /* ledger-font-define-body-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-define-directive {
        /* ledger-font-define-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-define-name {
        /* ledger-font-define-name-face */
        color: #dcaeea;
      }
      .org-ledger-font-directive {
        /* ledger-font-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-end-directive {
        /* ledger-font-end-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-expr-directive {
        /* ledger-font-expr-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-expr-expression {
        /* ledger-font-expr-expression-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-fixed-commodity {
        /* ledger-font-fixed-commodity-face */
        color: #a9a1e1;
      }
      .org-ledger-font-fixed-directive {
        /* ledger-font-fixed-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-fixed-price {
        /* ledger-font-fixed-price-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-format-directive {
        /* ledger-font-format-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-include-directive {
        /* ledger-font-include-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-include-filename {
        /* ledger-font-include-filename-face */
        color: #98be65;
      }
      .org-ledger-font-n-directive {
        /* ledger-font-N-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-n-symbol {
        /* ledger-font-N-symbol-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-note-directive {
        /* ledger-font-note-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-note-text {
        /* ledger-font-note-text-face */
        color: #83898d;
      }
      .org-ledger-font-other {
        /* ledger-font-other-face */
        color: #ECBE7B;
      }
      .org-ledger-font-payee-cleared {
        /* ledger-font-payee-cleared-face */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-ledger-font-payee-directive {
        /* ledger-font-payee-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-payee-name {
        /* ledger-font-payee-name-face */
        color: #c678dd;
      }
      .org-ledger-font-payee-pending {
        /* ledger-font-payee-pending-face */
        color: #ECBE7B;
      }
      .org-ledger-font-payee-regex {
        /* ledger-font-payee-regex-face */
        color: #98be65;
      }
      .org-ledger-font-payee-uncleared {
        /* ledger-font-payee-uncleared-face */
        color: #5B6268;
        font-weight: bold;
      }
      .org-ledger-font-pending {
        /* ledger-font-pending-face */
        color: #ECBE7B;
      }
      .org-ledger-font-periodic-xact {
        /* ledger-font-periodic-xact-face */
        color: #a9a1e1;
      }
      .org-ledger-font-posting-account {
        /* ledger-font-posting-account-face */
        color: #DFDFDF;
      }
      .org-ledger-font-posting-account-cleared {
        /* ledger-font-posting-account-cleared-face */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-ledger-font-posting-account-pending {
        /* ledger-font-posting-account-pending-face */
        color: #ECBE7B;
      }
      .org-ledger-font-posting-amount {
        /* ledger-font-posting-amount-face */
        color: #ECBE7B;
      }
      .org-ledger-font-posting-amount-cleared {
        /* ledger-font-posting-amount-cleared-face */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-ledger-font-posting-amount-pending {
        /* ledger-font-posting-amount-pending-face */
        color: #ECBE7B;
      }
      .org-ledger-font-posting-date {
        /* ledger-font-posting-date-face */
        color: #51afef;
      }
      .org-ledger-font-price {
        /* ledger-font-price-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-price-date {
        /* ledger-font-price-date-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-price-directive {
        /* ledger-font-price-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-price-symbol {
        /* ledger-font-price-symbol-face */
        color: #a9a1e1;
      }
      .org-ledger-font-reconciler-cleared {
        /* ledger-font-reconciler-cleared-face */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-ledger-font-reconciler-pending {
        /* ledger-font-reconciler-pending-face */
        color: #ECBE7B;
      }
      .org-ledger-font-reconciler-uncleared {
        /* ledger-font-reconciler-uncleared-face */
        color: #5B6268;
        font-weight: bold;
      }
      .org-ledger-font-report-clickable {
      }
      .org-ledger-font-tag-directive {
        /* ledger-font-tag-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-tag-name {
        /* ledger-font-tag-name-face */
        color: #ECBE7B;
      }
      .org-ledger-font-timeclock-directive {
        /* ledger-font-timeclock-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-uuid {
        /* ledger-font-uuid-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-uuid-directive {
        /* ledger-font-uuid-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-font-xact-cleared {
        /* ledger-font-xact-cleared-face */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-ledger-font-xact-highlight {
        /* ledger-font-xact-highlight-face */
        background-color: #1B2229;
      }
      .org-ledger-font-xact-pending {
        /* ledger-font-xact-pending-face */
        color: #ECBE7B;
      }
      .org-ledger-font-year {
        /* ledger-font-year-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-ledger-font-year-directive {
        /* ledger-font-year-directive-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-ledger-occur-narrowed {
        /* ledger-occur-narrowed-face */
        color: #5B6268;
      }
      .org-ledger-occur-xact {
        /* ledger-occur-xact-face */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-line-number {
        /* line-number */
        color: #3f444a;
        background-color: #282c34;
        font-style: italic;
      }
      .org-line-number-major-tick {
        /* line-number-major-tick */
        background-color: #bfbfbf;
        font-weight: bold;
      }
      .org-line-number-minor-tick {
        /* line-number-minor-tick */
        background-color: #8c8c8c;
        font-weight: bold;
      }
      .org-link {
        /* link */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-link-visited {
        /* link-visited */
        color: #ee82ee;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-lispy-command-name {
        /* lispy-command-name-face */
        color: #c678dd;
        background-color: #333333;
      }
      .org-lispy-cursor {
        /* lispy-cursor-face */
        color: #000000;
        background-color: #ffffff;
      }
      .org-lispy-face-hint {
        /* lispy-face-hint */
        color: #fff3bc;
        background-color: #000000;
      }
      .org-lispy-face-key-nosel {
        /* lispy-face-key-nosel */
        color: #fff3bc;
        background-color: #000000;
        font-style: italic;
      }
      .org-lispy-face-key-sel {
        /* lispy-face-key-sel */
        color: #fff3bc;
        background-color: #000000;
        font-weight: bold;
        font-style: italic;
      }
      .org-lispy-face-opt-nosel {
        /* lispy-face-opt-nosel */
        color: #fff3bc;
        background-color: #000000;
        font-style: italic;
      }
      .org-lispy-face-opt-sel {
        /* lispy-face-opt-sel */
        color: #fff3bc;
        background-color: #000000;
        font-weight: bold;
        font-style: italic;
      }
      .org-lispy-face-req-nosel {
        /* lispy-face-req-nosel */
        color: #fff3bc;
        background-color: #000000;
      }
      .org-lispy-face-req-sel {
        /* lispy-face-req-sel */
        color: #fff3bc;
        background-color: #000000;
        font-weight: bold;
      }
      .org-lispy-face-rst-nosel {
        /* lispy-face-rst-nosel */
        color: #fff3bc;
        background-color: #000000;
      }
      .org-lispy-face-rst-sel {
        /* lispy-face-rst-sel */
        color: #fff3bc;
        background-color: #000000;
        font-weight: bold;
      }
      .org-lispy-test {
        /* lispy-test-face */
        color: #fff3bc;
        background-color: #000000;
      }
      .org-lv-separator {
        /* lv-separator */
        background-color: #4d4d4d;
      }
      .org-match {
        /* match */
        color: #98be65;
        background-color: #1B2229;
        font-weight: bold;
      }
      .org-menu {
      }
      .org-message-cited-text-1 {
        /* message-cited-text-1 */
        color: #ECBE7B;
      }
      .org-message-cited-text-2 {
        /* message-cited-text-2 */
        color: #c678dd;
      }
      .org-message-cited-text-3 {
        /* message-cited-text-3 */
        color: #98be65;
      }
      .org-message-cited-text-4 {
        /* message-cited-text-4 */
        color: #98be65;
      }
      .org-message-header-cc {
        /* message-header-cc */
        color: #4494cb;
        font-weight: bold;
      }
      .org-message-header-name {
        /* message-header-name */
        color: #98be65;
      }
      .org-message-header-newsgroups {
        /* message-header-newsgroups */
        color: #ECBE7B;
      }
      .org-message-header-other {
        /* message-header-other */
        color: #a9a1e1;
      }
      .org-message-header-subject {
        /* message-header-subject */
        color: #51afef;
        font-weight: bold;
      }
      .org-message-header-to {
        /* message-header-to */
        color: #51afef;
        font-weight: bold;
      }
      .org-message-header-xheader {
        /* message-header-xheader */
        color: #83898d;
      }
      .org-message-mml {
        /* message-mml */
        color: #5B6268;
        font-style: italic;
      }
      .org-message-separator {
        /* message-separator */
        color: #5B6268;
      }
      .org-message-signature-separator {
        /* message-signature-separator */
        font-weight: bold;
      }
      .org-minibuffer-prompt {
        /* minibuffer-prompt */
        color: #51afef;
      }
      .org-misc-punctuation {
      }
      .org-mm-command-output {
        /* mm-command-output */
        color: #228b22;
      }
      .org-mm-uu-extract {
        /* mm-uu-extract */
        color: #abbfd3;
        background-color: #232c35;
      }
      .org-mode-line {
        /* mode-line */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-mode-line-active {
        /* mode-line-active */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-mode-line-buffer-id {
        /* mode-line-buffer-id */
        font-weight: bold;
      }
      .org-mode-line-emphasis {
        /* mode-line-emphasis */
        color: #51afef;
      }
      .org-mode-line-highlight {
        /* mode-line-highlight */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-mode-line-inactive {
        /* mode-line-inactive */
        color: #5B6268;
        background-color: #21242b;
      }
      .org-mouse {
      }
      .org-mouse-drag-and-drop-region {
        /* mouse-drag-and-drop-region */
        background-color: #42444a;
      }
      .org-mozc-cand-echo-area-annotation {
        /* mozc-cand-echo-area-annotation-face */
        color: #bebebe;
      }
      .org-mozc-cand-echo-area-candidate {
        /* mozc-cand-echo-area-candidate-face */
        color: #ffff00;
      }
      .org-mozc-cand-echo-area-focused {
        /* mozc-cand-echo-area-focused-face */
        color: #000000;
        background-color: #ffa500;
      }
      .org-mozc-cand-echo-area-shortcut {
        /* mozc-cand-echo-area-shortcut-face */
        color: #bebebe;
      }
      .org-mozc-cand-echo-area-stats {
        /* mozc-cand-echo-area-stats-face */
        color: #ffa500;
      }
      .org-mozc-cand-overlay-even {
        /* mozc-cand-overlay-even-face */
        color: #fffacd;
        background-color: #27408b;
      }
      .org-mozc-cand-overlay-focused {
        /* mozc-cand-overlay-focused-face */
        color: #191970;
        background-color: #ffa500;
      }
      .org-mozc-cand-overlay-footer {
        /* mozc-cand-overlay-footer-face */
        color: #fffacd;
        background-color: #4169e1;
      }
      .org-mozc-cand-overlay-odd {
        /* mozc-cand-overlay-odd-face */
        color: #fffacd;
        background-color: #27408b;
      }
      .org-mozc-preedit {
        /* mozc-preedit-face */
        text-decoration: underline;
      }
      .org-mozc-preedit-selected {
        /* mozc-preedit-selected-face */
        color: #ffffff;
        background-color: #a52a2a;
      }
      .org-mu4e-compose-separator {
        /* mu4e-compose-separator-face */
        color: #5B6268;
        font-style: italic;
      }
      .org-mu4e-contact {
        /* mu4e-contact-face */
        color: #dcaeea;
      }
      .org-mu4e-context {
        /* mu4e-context-face */
        color: #ECBE7B;
        font-weight: bold;
      }
      .org-mu4e-draft {
        /* mu4e-draft-face */
        color: #98be65;
      }
      .org-mu4e-flagged {
        /* mu4e-flagged-face */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-mu4e-footer {
        /* mu4e-footer-face */
        color: #5B6268;
      }
      .org-mu4e-forwarded {
        /* mu4e-forwarded-face */
        color: #c678dd;
      }
      .org-mu4e-header {
        /* mu4e-header-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-mu4e-header-field {
        /* mu4e-header-field-face */
        font-weight: bold;
      }
      .org-mu4e-header-highlight {
        /* mu4e-header-highlight-face */
        background-color: #21242b;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-mu4e-header-key {
        /* mu4e-header-key-face */
        color: #98be65;
        font-weight: bold;
      }
      .org-mu4e-header-marks {
        /* mu4e-header-marks-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-mu4e-header-title {
        /* mu4e-header-title-face */
        color: #ECBE7B;
      }
      .org-mu4e-header-value {
        /* mu4e-header-value-face */
        color: #ECBE7B;
      }
      .org-mu4e-highlight {
        /* mu4e-highlight-face */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-mu4e-link {
        /* mu4e-link-face */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-mu4e-modeline {
        /* mu4e-modeline-face */
        color: #98be65;
        font-weight: bold;
      }
      .org-mu4e-ok {
        /* mu4e-ok-face */
        color: #5B6268;
        font-weight: bold;
      }
      .org-mu4e-region-code {
        /* mu4e-region-code */
        background-color: #2f4f4f;
      }
      .org-mu4e-related {
        /* mu4e-related-face */
        color: #bbc2cf;
        background-color: #282c34;
        font-style: italic;
      }
      .org-mu4e-replied {
        /* mu4e-replied-face */
        color: #c678dd;
      }
      .org-mu4e-special-header-value {
        /* mu4e-special-header-value-face */
        color: #c678dd;
      }
      .org-mu4e-system {
        /* mu4e-system-face */
        color: #5B6268;
        font-style: italic;
      }
      .org-mu4e-title {
        /* mu4e-title-face */
        color: #ECBE7B;
        font-weight: bold;
      }
      .org-mu4e-trashed {
        /* mu4e-trashed-face */
        color: #5B6268;
        text-decoration: line-through;
      }
      .org-mu4e-unread {
        /* mu4e-unread-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-mu4e-url-number {
        /* mu4e-url-number-face */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-mu4e-warning {
        /* mu4e-warning-face */
        color: #ECBE7B;
        font-weight: bold;
      }
      .org-negation-char {
        /* font-lock-negation-char-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-next-error {
        /* next-error */
        background-color: #42444a;
      }
      .org-next-error-message {
        /* next-error-message */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-nobreak-hyphen {
        /* nobreak-hyphen */
        color: #00ffff;
      }
      .org-nobreak-space {
        /* nobreak-space */
        color: #46D9FF;
        text-decoration: underline;
      }
      .org-number {
        /* font-lock-number-face */
        color: #da8548;
      }
      .org-operator {
      }
      .org-org-agenda-calendar-event {
        /* org-agenda-calendar-event */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-org-agenda-calendar-sexp {
        /* org-agenda-calendar-sexp */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-org-agenda-clocking {
        /* org-agenda-clocking */
        background-color: #304659;
      }
      .org-org-agenda-column-dateline {
        /* org-agenda-column-dateline */
        background-color: #4d4d4d;
      }
      .org-org-agenda-current-time {
        /* org-agenda-current-time */
        color: #5B6268;
      }
      .org-org-agenda-date {
        /* org-agenda-date */
        color: #a9a1e1;
      }
      .org-org-agenda-date-today {
        /* org-agenda-date-today */
        color: #cbc6ed;
      }
      .org-org-agenda-date-weekend {
        /* org-agenda-date-weekend */
        color: #656087;
      }
      .org-org-agenda-date-weekend-today {
        /* org-agenda-date-weekend-today */
        color: #cbc6ed;
      }
      .org-org-agenda-diary {
        /* org-agenda-diary */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-org-agenda-dimmed-todo {
        /* org-agenda-dimmed-todo-face */
        color: #5B6268;
      }
      .org-org-agenda-done {
        /* org-agenda-done */
        color: #5B6268;
        font-weight: bold;
      }
      .org-org-agenda-filter-category {
        /* org-agenda-filter-category */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-org-agenda-filter-effort {
        /* org-agenda-filter-effort */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-org-agenda-filter-regexp {
        /* org-agenda-filter-regexp */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-org-agenda-filter-tags {
        /* org-agenda-filter-tags */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-org-agenda-restriction-lock {
        /* org-agenda-restriction-lock */
        background-color: #1C1C1C;
      }
      .org-org-agenda-structure {
        /* org-agenda-structure */
        color: #bbc2cf;
      }
      .org-org-agenda-structure-secondary {
        /* org-agenda-structure-secondary */
        color: #bbc2cf;
      }
      .org-org-archived {
        /* org-archived */
        color: #83898d;
      }
      .org-org-block {
        /* org-block */
        background-color: #23272e;
      }
      .org-org-block-begin-line {
        /* org-block-begin-line */
        color: #5B6268;
        background-color: #23272e;
      }
      .org-org-block-end-line {
        /* org-block-end-line */
        color: #5B6268;
        background-color: #23272e;
      }
      .org-org-checkbox {
        /* org-checkbox */
        color: #98be65;
        font-weight: bold;
      }
      .org-org-checkbox-statistics-done {
        /* org-checkbox-statistics-done */
        color: #5B6268;
        font-weight: bold;
      }
      .org-org-checkbox-statistics-todo {
        /* org-checkbox-statistics-todo */
        color: #98be65;
        font-weight: bold;
      }
      .org-org-cite {
        /* org-cite */
        color: #57b6be;
      }
      .org-org-cite-key {
        /* org-cite-key */
        color: #79bac4;
        text-decoration: underline;
      }
      .org-org-clock-overlay {
        /* org-clock-overlay */
        color: #ffffff;
        background-color: #4a708b;
      }
      .org-org-code {
        /* org-code */
        color: #da8548;
        background-color: #23272e;
      }
      .org-org-column {
        /* org-column */
        background-color: #4d4d4d;
      }
      .org-org-column-title {
        /* org-column-title */
        background-color: #4d4d4d;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-org-date {
        /* org-date */
        color: #ECBE7B;
      }
      .org-org-date-selected {
        /* org-date-selected */
        color: #ffc0cb;
      }
      .org-org-default {
      }
      .org-org-dispatcher-highlight {
        /* org-dispatcher-highlight */
        color: #ffd700;
        background-color: #333333;
        font-weight: bold;
      }
      .org-org-document-info {
        /* org-document-info */
        color: #c678dd;
      }
      .org-org-document-info-keyword {
        /* org-document-info-keyword */
        color: #5B6268;
      }
      .org-org-document-title {
        /* org-document-title */
        color: #c678dd;
        font-weight: bold;
      }
      .org-org-done {
        /* org-done */
        color: #5B6268;
        font-weight: bold;
      }
      .org-org-drawer {
        /* org-drawer */
        color: #5B6268;
      }
      .org-org-ellipsis {
        /* org-ellipsis */
        color: #5B6268;
      }
      .org-org-footnote {
        /* org-footnote */
        color: #da8548;
      }
      .org-org-formula {
        /* org-formula */
        color: #46D9FF;
      }
      .org-org-headline-done {
        /* org-headline-done */
        color: #5B6268;
      }
      .org-org-headline-todo {
        /* org-headline-todo */
        color: #eea9b8;
      }
      .org-org-hide {
        /* org-hide */
        color: #282c34;
      }
      .org-org-imminent-deadline {
        /* org-imminent-deadline */
        color: #ECBE7B;
      }
      .org-org-inline-src-block {
        /* org-inline-src-block */
        background-color: #23272e;
      }
      .org-org-latex-and-related {
        /* org-latex-and-related */
        color: #DFDFDF;
        font-weight: bold;
      }
      .org-org-level-1 {
        /* org-level-1 */
        color: #51afef;
        font-weight: bold;
      }
      .org-org-level-2 {
        /* org-level-2 */
        color: #c678dd;
        font-weight: bold;
      }
      .org-org-level-3 {
        /* org-level-3 */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-org-level-4 {
        /* org-level-4 */
        color: #7cc3f3;
        font-weight: bold;
      }
      .org-org-level-5 {
        /* org-level-5 */
        color: #d499e5;
        font-weight: bold;
      }
      .org-org-level-6 {
        /* org-level-6 */
        color: #a8d7f7;
        font-weight: bold;
      }
      .org-org-level-7 {
        /* org-level-7 */
        color: #e2bbee;
        font-weight: bold;
      }
      .org-org-level-8 {
        /* org-level-8 */
        color: #dceffb;
        font-weight: bold;
      }
      .org-org-link {
        /* org-link */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-org-list-dt {
        /* org-list-dt */
        color: #51afef;
      }
      .org-org-macro {
        /* org-macro */
        color: #DFDFDF;
        font-weight: bold;
      }
      .org-org-meta-line {
        /* org-meta-line */
        color: #83898d;
      }
      .org-org-mode-line-clock {
        /* org-mode-line-clock */
        color: #bbc2cf;
        background-color: #1d2026;
      }
      .org-org-mode-line-clock-overrun {
        /* org-mode-line-clock-overrun */
        color: #bbc2cf;
        background-color: #ff0000;
      }
      .org-org-priority {
        /* org-priority */
        color: #ff6c6b;
      }
      .org-org-property-value {
        /* org-property-value */
        color: #83898d;
      }
      .org-org-quote {
        /* org-quote */
        background-color: #23272e;
        font-style: italic;
      }
      .org-org-roam-link {
        /* org-roam-link */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-org-roam-link-current {
        /* org-roam-link-current */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-org-roam-tag {
        /* org-roam-tag */
        font-weight: bold;
      }
      .org-org-scheduled {
        /* org-scheduled */
        color: #bbc2cf;
      }
      .org-org-scheduled-previously {
        /* org-scheduled-previously */
        color: #DFDFDF;
      }
      .org-org-scheduled-today {
        /* org-scheduled-today */
        color: #9ca0a4;
      }
      .org-org-sexp-date {
        /* org-sexp-date */
        color: #bbc2cf;
      }
      .org-org-special-keyword {
        /* org-special-keyword */
        color: #83898d;
      }
      .org-org-table {
        /* org-table */
        color: #a9a1e1;
      }
      .org-org-table-header {
        /* org-table-header */
        color: #000000;
        background-color: #d3d3d3;
      }
      .org-org-tag {
        /* org-tag */
        color: #83898d;
      }
      .org-org-tag-group {
        /* org-tag-group */
        color: #83898d;
      }
      .org-org-target {
        /* org-target */
        text-decoration: underline;
      }
      .org-org-time-grid {
        /* org-time-grid */
        color: #5B6268;
      }
      .org-org-todo {
        /* org-todo */
        color: #98be65;
        font-weight: bold;
      }
      .org-org-upcoming-deadline {
        /* org-upcoming-deadline */
        color: #9da4b0;
      }
      .org-org-upcoming-distant-deadline {
        /* org-upcoming-distant-deadline */
        color: #717781;
      }
      .org-org-verbatim {
        /* org-verbatim */
        color: #98be65;
      }
      .org-org-verse {
        /* org-verse */
        background-color: #23272e;
      }
      .org-org-warning {
        /* org-warning */
        color: #ECBE7B;
      }
      .org-outline-1 {
        /* outline-1 */
        color: #51afef;
        font-weight: bold;
      }
      .org-outline-2 {
        /* outline-2 */
        color: #c678dd;
        font-weight: bold;
      }
      .org-outline-3 {
        /* outline-3 */
        color: #a9a1e1;
        font-weight: bold;
      }
      .org-outline-4 {
        /* outline-4 */
        color: #7cc3f3;
        font-weight: bold;
      }
      .org-outline-5 {
        /* outline-5 */
        color: #d499e5;
        font-weight: bold;
      }
      .org-outline-6 {
        /* outline-6 */
        color: #a8d7f7;
        font-weight: bold;
      }
      .org-outline-7 {
        /* outline-7 */
        color: #e2bbee;
        font-weight: bold;
      }
      .org-outline-8 {
        /* outline-8 */
        color: #dceffb;
        font-weight: bold;
      }
      .org-package-description {
        /* package-description */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-package-name {
        /* package-name */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-package-status-avail-obso {
        /* package-status-avail-obso */
        color: #ff6c6b;
      }
      .org-package-status-available {
        /* package-status-available */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-package-status-built-in {
        /* package-status-built-in */
        color: #c678dd;
      }
      .org-package-status-dependency {
        /* package-status-dependency */
        color: #5B6268;
      }
      .org-package-status-disabled {
        /* package-status-disabled */
        color: #ECBE7B;
      }
      .org-package-status-external {
        /* package-status-external */
        color: #c678dd;
      }
      .org-package-status-from-source {
        /* package-status-from-source */
        color: #51afef;
        font-weight: bold;
      }
      .org-package-status-held {
        /* package-status-held */
        color: #a9a1e1;
      }
      .org-package-status-incompat {
        /* package-status-incompat */
        color: #ff6c6b;
      }
      .org-package-status-installed {
        /* package-status-installed */
        color: #5B6268;
      }
      .org-package-status-unsigned {
        /* package-status-unsigned */
        color: #ECBE7B;
      }
      .org-popup {
        /* popup-face */
        color: #bbc2cf;
        background-color: #21242b;
      }
      .org-popup-isearch-match {
        /* popup-isearch-match */
        color: #bbc2cf;
        background-color: #87ceeb;
      }
      .org-popup-menu {
        /* popup-menu-face */
        color: #bbc2cf;
        background-color: #21242b;
      }
      .org-popup-menu-mouse {
        /* popup-menu-mouse-face */
        color: #ffffff;
        background-color: #0000ff;
      }
      .org-popup-menu-selection {
        /* popup-menu-selection-face */
        color: #ffffff;
        background-color: #4682b4;
      }
      .org-popup-menu-summary {
        /* popup-menu-summary-face */
        color: #696969;
        background-color: #21242b;
      }
      .org-popup-scroll-bar-background {
        /* popup-scroll-bar-background-face */
        background-color: #bebebe;
      }
      .org-popup-scroll-bar-foreground {
        /* popup-scroll-bar-foreground-face */
        background-color: #000000;
      }
      .org-popup-summary {
        /* popup-summary-face */
        color: #696969;
        background-color: #21242b;
      }
      .org-popup-tip {
        /* popup-tip-face */
        color: #a9a1e1;
        background-color: #1B2229;
      }
      .org-preprocessor {
        /* font-lock-preprocessor-face */
        color: #51afef;
        font-weight: bold;
      }
      .org-property-name {
        /* font-lock-property-name-face */
        color: #dcaeea;
      }
      .org-property-use {
        /* font-lock-property-use-face */
        color: #dcaeea;
      }
      .org-pulse-highlight {
        /* pulse-highlight-face */
        background-color: #AAAA33;
      }
      .org-pulse-highlight-start {
        /* pulse-highlight-start-face */
        background-color: #AAAA33;
      }
      .org-punctuation {
      }
      .org-query-replace {
        /* query-replace */
        color: #DFDFDF;
        background-color: #387aa7;
        font-weight: bold;
      }
      .org-rainbow-delimiters-base {
        /* rainbow-delimiters-base-face */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-rainbow-delimiters-base-error {
        /* rainbow-delimiters-base-error-face */
        color: #ff6c6b;
        background-color: #282c34;
      }
      .org-rainbow-delimiters-depth-1 {
        /* rainbow-delimiters-depth-1-face */
        color: #51afef;
      }
      .org-rainbow-delimiters-depth-2 {
        /* rainbow-delimiters-depth-2-face */
        color: #c678dd;
      }
      .org-rainbow-delimiters-depth-3 {
        /* rainbow-delimiters-depth-3-face */
        color: #98be65;
      }
      .org-rainbow-delimiters-depth-4 {
        /* rainbow-delimiters-depth-4-face */
        color: #a9a1e1;
      }
      .org-rainbow-delimiters-depth-5 {
        /* rainbow-delimiters-depth-5-face */
        color: #4db5bd;
      }
      .org-rainbow-delimiters-depth-6 {
        /* rainbow-delimiters-depth-6-face */
        color: #51afef;
      }
      .org-rainbow-delimiters-depth-7 {
        /* rainbow-delimiters-depth-7-face */
        color: #c678dd;
      }
      .org-rainbow-delimiters-depth-8 {
        /* rainbow-delimiters-depth-8-face */
        color: #98be65;
      }
      .org-rainbow-delimiters-depth-9 {
        /* rainbow-delimiters-depth-9-face */
        color: #a9a1e1;
      }
      .org-rainbow-delimiters-mismatched {
        /* rainbow-delimiters-mismatched-face */
        color: #ff6c6b;
        font-weight: bold;
      }
      .org-rainbow-delimiters-unmatched {
        /* rainbow-delimiters-unmatched-face */
        color: #ff6c6b;
        font-weight: bold;
      }
      .org-rectangle-preview {
        /* rectangle-preview */
        background-color: #42444a;
      }
      .org-regexp {
        /* font-lock-regexp-face */
        color: #98be65;
      }
      .org-regexp-grouping-backslash {
        /* font-lock-regexp-grouping-backslash */
        color: #51afef;
        font-weight: bold;
      }
      .org-regexp-grouping-construct {
        /* font-lock-regexp-grouping-construct */
        color: #51afef;
        font-weight: bold;
      }
      .org-region {
        /* region */
        background-color: #42444a;
      }
      .org-scroll-bar {
      }
      .org-secondary-selection {
        /* secondary-selection */
        background-color: #3f444a;
      }
      .org-separator-line {
        /* separator-line */
        background-color: #505050;
        font-size: 10%;
      }
      .org-sgml-namespace {
        /* sgml-namespace */
        color: #c678dd;
      }
      .org-shadow {
        /* shadow */
        color: #5B6268;
      }
      .org-show-paren-match {
        /* show-paren-match */
        color: #ff6c6b;
        background-color: #1B2229;
      }
      .org-show-paren-match-expression {
        /* show-paren-match-expression */
        color: #ff6c6b;
        background-color: #1B2229;
      }
      .org-show-paren-mismatch {
        /* show-paren-mismatch */
        color: #1B2229;
        background-color: #ff6c6b;
      }
      .org-shr-abbreviation {
        /* shr-abbreviation */
        text-decoration: underline;
      }
      .org-shr-code {
      }
      .org-shr-h1 {
        /* shr-h1 */
        font-size: 130%;
        font-weight: bold;
      }
      .org-shr-h2 {
        /* shr-h2 */
        font-weight: bold;
      }
      .org-shr-h3 {
        /* shr-h3 */
        font-style: italic;
      }
      .org-shr-h4 {
      }
      .org-shr-h5 {
      }
      .org-shr-h6 {
      }
      .org-shr-link {
        /* shr-link */
        color: #51afef;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-shr-mark {
        /* shr-mark */
        color: #000000;
        background-color: #ffff00;
      }
      .org-shr-selected-link {
        /* shr-selected-link */
        color: #51afef;
        background-color: #ff0000;
        font-weight: bold;
        text-decoration: underline;
      }
      .org-shr-strike-through {
        /* shr-strike-through */
        text-decoration: line-through;
      }
      .org-shr-sup {
        /* shr-sup */
        font-size: 80%;
      }
      .org-shr-text {
        /* shr-text */
        font-size: 110%;
      }
      .org-sp-pair-overlay {
        /* sp-pair-overlay-face */
        background-color: #42444a;
      }
      .org-sp-show-pair-enclosing {
        /* sp-show-pair-enclosing */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-sp-show-pair-match {
        /* sp-show-pair-match-face */
        color: #ff6c6b;
        background-color: #1B2229;
      }
      .org-sp-show-pair-match-content {
      }
      .org-sp-show-pair-mismatch {
        /* sp-show-pair-mismatch-face */
        color: #1B2229;
        background-color: #ff6c6b;
      }
      .org-sp-wrap-overlay {
        /* sp-wrap-overlay-face */
        background-color: #42444a;
      }
      .org-sp-wrap-overlay-closing-pair {
        /* sp-wrap-overlay-closing-pair */
        color: #ff0000;
        background-color: #42444a;
      }
      .org-sp-wrap-overlay-opening-pair {
        /* sp-wrap-overlay-opening-pair */
        color: #00ff00;
        background-color: #42444a;
      }
      .org-sp-wrap-tag-overlay {
        /* sp-wrap-tag-overlay-face */
        background-color: #42444a;
      }
      .org-straight-process-command {
        /* straight-process-command */
        font-weight: bold;
      }
      .org-straight-process-error {
        /* straight-process-error */
        color: #ff0000;
        font-weight: bold;
      }
      .org-string {
        /* font-lock-string-face */
        color: #98be65;
      }
      .org-success {
        /* success */
        color: #98be65;
      }
      .org-swiper-background-match-face-1 {
        /* swiper-background-match-face-1 */
        color: #5B6268;
        background-color: #534c5d7966a6;
      }
      .org-swiper-background-match-face-2 {
        /* swiper-background-match-face-2 */
        color: #1B2229;
        background-color: #ecb2b8e18807;
        font-weight: bold;
      }
      .org-swiper-background-match-face-3 {
        /* swiper-background-match-face-3 */
        color: #1B2229;
        background-color: #e193af9cee51;
        font-weight: bold;
      }
      .org-swiper-background-match-face-4 {
        /* swiper-background-match-face-4 */
        color: #1B2229;
        background-color: #c5a5dcf9a11c;
        font-weight: bold;
      }
      .org-swiper-line {
        /* swiper-line-face */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-swiper-match-face-1 {
        /* swiper-match-face-1 */
        color: #5B6268;
        background-color: #1B2229;
      }
      .org-swiper-match-face-2 {
        /* swiper-match-face-2 */
        color: #1B2229;
        background-color: #da8548;
        font-weight: bold;
      }
      .org-swiper-match-face-3 {
        /* swiper-match-face-3 */
        color: #1B2229;
        background-color: #c678dd;
        font-weight: bold;
      }
      .org-swiper-match-face-4 {
        /* swiper-match-face-4 */
        color: #1B2229;
        background-color: #98be65;
        font-weight: bold;
      }
      .org-symex--current-node {
        /* symex-current-node-face */
        color: #1B2229;
        background-color: #51afef;
      }
      .org-tab-bar {
        /* tab-bar */
        color: #21242b;
        background-color: #21242b;
      }
      .org-tab-bar-tab {
        /* tab-bar-tab */
        color: #bbc2cf;
        background-color: #282c34;
      }
      .org-tab-bar-tab-group-current {
        /* tab-bar-tab-group-current */
        color: #bbc2cf;
        background-color: #282c34;
        font-weight: bold;
      }
      .org-tab-line {
        /* tab-line */
        color: #21242b;
        background-color: #21242b;
      }
      .org-table-cell {
        /* table-cell */
        color: #e5e5e5;
        background-color: #0000ff;
      }
      .org-tabulated-list-fake-header {
        /* tabulated-list-fake-header */
        font-weight: bold;
        text-decoration: underline;
        text-decoration: overline;
      }
      .org-tool-bar {
        /* tool-bar */
        color: #000000;
        background-color: #bfbfbf;
      }
      .org-tooltip {
        /* tooltip */
        color: #bbc2cf;
        background-color: #21242b;
      }
      .org-trailing-whitespace {
        /* trailing-whitespace */
        background-color: #b22222;
      }
      .org-treesit-explorer-anonymous-node {
        /* treesit-explorer-anonymous-node */
        color: #5B6268;
      }
      .org-treesit-explorer-field-name {
      }
      .org-tty-menu-disabled {
        /* tty-menu-disabled-face */
        color: #d3d3d3;
        background-color: #0000ff;
      }
      .org-tty-menu-enabled {
        /* tty-menu-enabled-face */
        color: #ffff00;
        background-color: #0000ff;
        font-weight: bold;
      }
      .org-tty-menu-selected {
        /* tty-menu-selected-face */
        background-color: #ff0000;
      }
      .org-type {
        /* font-lock-type-face */
        color: #ECBE7B;
      }
      .org-underline {
        /* underline */
        text-decoration: underline;
      }
      .org-variable-name {
        /* font-lock-variable-name-face */
        color: #dcaeea;
      }
      .org-variable-pitch {
      }
      .org-variable-pitch-text {
        /* variable-pitch-text */
        font-size: 110%;
      }
      .org-variable-use {
        /* font-lock-variable-use-face */
        color: #dcaeea;
      }
      .org-vc-conflict-state {
      }
      .org-vc-edited-state {
      }
      .org-vc-git-log-edit-summary-max-warning {
        /* vc-git-log-edit-summary-max-warning */
        color: #ff6c6b;
      }
      .org-vc-git-log-edit-summary-target-warning {
        /* vc-git-log-edit-summary-target-warning */
        color: #ECBE7B;
      }
      .org-vc-locally-added-state {
      }
      .org-vc-locked-state {
      }
      .org-vc-missing-state {
      }
      .org-vc-needs-update-state {
      }
      .org-vc-removed-state {
      }
      .org-vc-state-base {
      }
      .org-vc-up-to-date-state {
      }
      .org-vertical-border {
        /* vertical-border */
        color: #191b20;
        background-color: #191b20;
      }
      .org-warning {
        /* warning */
        color: #ECBE7B;
      }
      .org-warning-1 {
        /* font-lock-warning-face */
        color: #ECBE7B;
      }
      .org-which-key-command-description {
        /* which-key-command-description-face */
        color: #51afef;
      }
      .org-which-key-docstring {
        /* which-key-docstring-face */
        color: #5B6268;
      }
      .org-which-key-group-description {
        /* which-key-group-description-face */
        color: #a9a1e1;
      }
      .org-which-key-highlighted-command {
        /* which-key-highlighted-command-face */
        color: #51afef;
        text-decoration: underline;
      }
      .org-which-key-key {
        /* which-key-key-face */
        color: #98be65;
      }
      .org-which-key-local-map-description {
        /* which-key-local-map-description-face */
        color: #c678dd;
      }
      .org-which-key-note {
        /* which-key-note-face */
        color: #5B6268;
      }
      .org-which-key-separator {
        /* which-key-separator-face */
        color: #5B6268;
      }
      .org-which-key-special-key {
        /* which-key-special-key-face */
        color: #98be65;
        font-weight: bold;
      }
      .org-widget-button {
        /* widget-button */
        font-weight: bold;
      }
      .org-widget-button-pressed {
        /* widget-button-pressed */
        color: #ff6c6b;
      }
      .org-widget-documentation {
        /* widget-documentation */
        color: #98be65;
      }
      .org-widget-field {
        /* widget-field */
        background-color: #23272e;
      }
      .org-widget-inactive {
        /* widget-inactive */
        color: #5B6268;
      }
      .org-widget-single-line-field {
        /* widget-single-line-field */
        background-color: #23272e;
      }
      .org-window-divider {
        /* window-divider */
        color: #191b20;
        background-color: #191b20;
      }
      .org-window-divider-first-pixel {
        /* window-divider-first-pixel */
        color: #191b20;
        background-color: #191b20;
      }
      .org-window-divider-last-pixel {
        /* window-divider-last-pixel */
        color: #191b20;
        background-color: #191b20;
      }
      .org-world-clock-label {
        /* world-clock-label */
        color: #dcaeea;
      }
      .org-xref-file-header {
        /* xref-file-header */
        color: #98be65;
      }
      .org-xref-line-number {
        /* xref-line-number */
        color: #51afef;
      }
      .org-xref-match {
        /* xref-match */
        color: #98be65;
        background-color: #1B2229;
        font-weight: bold;
      }
      .org-yas--field-debug {
      }
      .org-yas-field-highlight {
        /* yas-field-highlight-face */
        color: #98be65;
        background-color: #1B2229;
        font-weight: bold;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
</style>
