body {
    background: floralwhite;
    margin-left: auto;
    margin-right: auto;
    max-width: 55em;
}
#table-of-contents { position: fixed; right: 5em; top: 5em; max-width: 20em; }

@media (max-width: 105em) {
    #table-of-contents { position: static; }
    margin-left: 2em;
    margin-right: 2em;
}

#table-of-contents ul { list-style-type: none; }
#table-of-contents ul a { color: black; text-decoration: none; }
/* 0xfc.f4.e8 - 0x11.11.11 = 0xeb.e3.d7 */
#table-of-contents ul a:hover { background: #ebe3d7 }
body { font-family: 'Noto Serif JP', serif; }
pre.example { background: #fcf4e8; }
pre.src {
    background-color: #282c34;
    color: #bbc2cf;
    overflow: auto;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    background: #ebe3d7;
}
